// text color
$main-text-color: rgb(2, 23, 37);
$header-text-color: rgb(255, 255, 255);
$promp-text-color: rgb(212, 175, 55);
$headline-text-color: rgba(2, 23, 37, 0.7);
// background color
$block-background-color: rgb(249, 249, 249);